/__pycache__
/vision/__pycache__
yolo11n.pt
yolo11m.pt
/sfx/myinstants
/tools/__pycache__
last_avatar.json
last_session.json
api\__pycache__
/api/__pycache__
/bin
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.log
/myinstants
